extends layout

block index
  .container
    .container__loginPanel
      block inputs
        div.input-group.mb-3
          div.input-group-prepend
            span.input-group-text#inputID ID
          input(
            id="input-userID"
            class='form-control'
            type='text'
            placeholder='Please enter your ID...'
            aria-label="UserID"
            aria-describedby="inputID"
          )
        div.input-group.mb-3
          div.input-group-prepend
            span.input-group-text#inputPW Password
          input(
            id="input-userPW"
            class='form-control'
            type='password'
            placeholder='Please enter your password...'
            aria-label="UserPW"
            aria-describedby="inputPW"
          )
        button(
          type='button' id='inputField__loginBtn'
        ) Login