extends layout

block index
  .container
    .container__loginPanel
      block inputs
        .inputField
          input(
            class='inputField__input inputField__input--userID'
            type='text'
            placeholder='Please enter your ID...'
          )
          input(
            class='inputField__input inputField__input--password'
            type='text'
            placeholder='Please enter your Password...'
          )
        button(
          type='button' class='inputField__loginBtn' href='#'
        ) Login