mixin inputs(label, type, placeholder,action, id, disabled = false)
  div.d-flex.flex-row.mb-3
      div.input-group-prepend
        span(class='input-group-text' id=action)= label
      input(
        id=id
        type=type
        class!=attributes.class
        placeholder=placeholder
        aria-label=label
        aria-describedby=action
        disabled=disabled
      )