
block userManager
  .body
      block upperBlock
        .body__upperBlock
          button(
            id="add-btn"
            type='button'
            class='btn btn-success mb-3'
            data-toggle="modal"
            data-target="#userModal"
          ) Add

      block table
        table.table
          thead.table__thead.thead-light
            tr
              th ID
              th First Name
              th Last Name
              th Email
              th Created Time
              th Update Time
              th Edit/Delete
          tbody.table__tbody
            if view.result
              for item in view.result
                tr(id= item.id)
                  td #{item.id}
                  td #{item.first_name}
                  td #{item.last_name}
                  td #{item.email}
                  td #{moment.unix(item.created_time).format('YYYY-MM-DD hh:mm:ss')}
                  td #{moment.unix(item.updated_time).format('YYYY-MM-DD hh:mm:ss')}
                  td
                    button(
                      type="button"
                      class="btn btn-warning btn-sm mr-2"
                      onclick=`editUserModal(event, ${item.id})`
                      data-toggle="modal"
                      data-target="#userModal"
                    ) Edit
                    button(
                      type="button"
                      class="btn btn-danger btn-sm"
                      onclick=`deleteUserModal(event, ${item.id})`
                      data-toggle="modal"
                      data-target="#deleteModal"
                    ) Delete
            else
              h1 Sorry, We could not find any user data.      