block userModal
  div(class="modal fade",
  id="userModal",
  tabindex="-1",
  role="dialog",
  data-backdrop="static",
  aria-labelledby="userModalLabel",
  aria-hidden="true")

    block modal-dialog
      div.modal-dialog
        block modal-content
          div.modal-content
            block modal-header
              div.modal-header
                h5.modal-title#userModalLabel
                button(type='button', class='close', data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true') &times;
            block modal-body
              div.modal-body
                include ./modal-inputs.pug
            block modal-footer
              div.modal-footer
                button(type='button' id="modal-close-btn" class='btn btn-secondary' data-dismiss='modal') Close
                button(type='button' id="modal-confirm-btn" class='btn btn-primary') Confirm