extends layout

block scripts
  script(src='http://localhost:9090/getAllUserData.js')
  
block userPage
  block header
    .header
      .header__userManager User Manager
      
      .header__avatar
        .header__userName
        button(type='button' id="logout-btn") Logout

  block body
    .body
      block upperBlock
        .body__upperBlock
          button(
            id="add-btn"
            type='button'
            class='btn btn-success mb-3'
            data-toggle="modal"
            data-target="#userModal"
          ) Add
      block table
        table.table
          thead.table__thead.thead-light
            tr
              th ID
              th First Name
              th Last Name
              th Email
              th Created Time
              th Update Time
              th Edit/Delete
          tbody.table__tbody
            if result
              for item in result
                tr(id= item.id)
                  td #{item.id}
                  td #{item.first_name}
                  td #{item.last_name}
                  td #{item.email}
                  td #{item.created_time}
                  td #{item.updated_time}
                  td
                    button(
                      type="button"
                      class="btn btn-warning btn-sm mr-2"
                      onclick=`editUserModal(event, ${item.id})`
                      data-toggle="modal"
                      data-target="#userModal"
                    ) Edit
                    button(
                      type="button"
                      class="btn btn-danger btn-sm"
                      onclick=`deleteUserModal(event, ${item.id})`
                      data-toggle="modal"
                      data-target="#deleteModal"
                    ) Delete
            else
              h1 Sorry, We could not find any user data.        

  include ./userModal.pug
  include ./deleteModal.pug 
            
            
            
            
            
    


